body {
    margin: 0;
    font-family: tahoma;
}

.container {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
}

#input-meal, 
#search-meal {
    padding: 10px;
}

#input-meal {
    padding-right: 150px;
    border-radius: 5px 0 0 5px;
}

#search-meal {
    width: 80px;
    background-color: #F06C4E;
    color: white;
    border: 2px solid #F06C4E;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    margin-left: -6px;
}


#meal-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

#meal-results img{
    display: inline-block;
}

.meal-div {
    background: #F8F7F5;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.meal-div img {
    display: block;
    width: 100%;
}

#meal-info img {
    display: inline-block;
    width: 400px;
    border-radius: 15px;
}

#meal-info {
    margin: 50px 32.5%;
}

#meal-info i {
    margin-right: 15px;
    font-size: 18px;
    color: #F06C4E;
}

a {
    text-decoration: none;
    color: black;
}

.input-div {
    margin-bottom: 60px;
    text-align: center;
}




/*Header & Menu Area */
.header-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main-menu {
    overflow: hidden;
}

.menu-area ul {
    list-style: none;
    float: right;
    margin-top: 30px;
}

.menu-area ul li {
    float: left;
    margin-left: 30px;
}