body {
    margin: 0;
}

#inputDiv {
    margin: 0 auto;
    text-align: center;
}

#input-meal, 
#search-meal {
    padding: 10px;
}

#search-meal {
    cursor: pointer;
}

#meal-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

#meal-results img{
    display: inline-block;
}

.meal-div {
    background: #F8F7F5;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.meal-div img {
    display: block;
    width: 100%;
}

#meal-info img {
    display: inline-block;
    width: 400px;
    border-radius: 15px;
}

#meal-info {
    margin: 50px 34%;
}

#meal-info i {
    margin-right: 15px;
    font-size: 18px;
    color: #F06C4E;
}

a {
    text-decoration: none;
    color: black;
}